body { 
  margin:0; 
  padding:0;
  font-family: 'Raleway', sans-serif;
}
#map { position:absolute; top:0; bottom:0; width:100%; }

/*.ui-layer {
  z-index:10;
  position: absolute;
  width:100%;
  height:100%;
  background:rgba(0,0, 0, 0.7)
} */

#search-container {
  z-index:10;
  height:50px;
  line-height: 40px;
  max-width:400px;
  background:white;
  border-radius:6px;
  padding:5px;
  position: relative;
  margin:0 auto;
  top:20px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);

}


#hamburger-menu {
  padding:0 2px;
}
/*
#search-container #hamburger-menu {
  position: absolute;
  line-height: 40px;
} */

#search-container a > i {
  font-size:20pt;
  color:#333;
  line-height: inherit;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
 /* justify-content: center; */ /* Optional, to align inner items 
                              horizontally inside the column */
}

/* Form Styles */
.search-input {
  height: 100%;
  width:100%;
  border:none;
}

.search-input:focus {outline:none;}

#main-search {
  padding: 0 2px;
}
#main-search input {
  height:34px;
  font-size:14px; 
}

#search-cancel a > i{
  margin:0 -10px;
  color:#999;
}

#trip-info-container {
  position: absolute;
  bottom:0;
  height:200px;
  width:100%;
  /*background: rgba(50, 50, 50, 0.5); */
  z-index:10;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+100&0+0,1+100 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 3%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 3%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 3%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000',GradientType=0 ); /* IE6-9 */

}

#destination-wrapper {
  height:100px;
  width:100%;
  padding:0 10px;
  margin-bottom:20px;
}
#destination-wrapper h4 {
  font-weight: bold;
  margin-bottom:2px;
  color:#fff;
  text-shadow: -1px -1px 2px rgba(150, 150, 150, 1);
}
#destination-wrapper span {
  font-size:12pt;
  color:#e3e3e3;
  padding:0 5px;
}

#save-trip {
  margin:6px 0;
  display: block;
}

.item-slider {
  height:140px;
  width:100%;
}

.item-slider .slider-section a{
  display: inline-block;
  padding:0 10px;
  color: #e0dde0;
}

.item-slider .slider-section a.active, .item-slider .slider-section a:hover{
  color:white;
  font-weight: 400;
}
 

.item-slider .slider-section a::after {
  content: ">";
  padding-left:10px;
}

.item-slider .slider-section a:last-child::after{
  content: "";
  padding-left:0px;
}

.item-slider .item-list {
  margin:10px 0;
}

.item-slider .item-list li{
  border-radius:6px;
  background:white;
  padding:10px;
  -webkit-box-shadow: 1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         1px 1px 2px 0px rgba(50, 50, 50, 0.75);
  height:100px;
  width:200px;
  /*float:left;
  margin-right: 10px; */
  margin-right:10px;
  margin-bottom:5px;
  cursor: pointer;
}

.item-slider .item-list li:hover {
  border:3px solid #1976D2;
  
}

.item-slider .item-list li:last-child {
  margin-right:0px;
}

.item-slider .item-list .title {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 
}

.item-slider .item-list .info {
  text-align: center;
  margin:4px 0;
 
}

.item-slider .item-list .info span {
  color:#888; 
  padding:0 5px;
  font-size:11px;
  vertical-align: sub;
}

.item-slider .item-list .info span i {
  font-size:12px;
  padding:0 1px;
}

/* Override */
.slick-slide {
  width:200px;
}


.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}


/* Marker */
.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  -webkit-transform: rotate(-45deg) ;
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  /*margin: -20px 0 0 -20px; */
  cursor: pointer;
}
.pin:after {
  content: '';
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #2f2f2f;
  position: absolute;
  border-radius: 50%;
}


